@import "tailwindcss";

:root {
  --primary: 255, 215, 0;
  --primary-light: 255, 233, 113;
  --primary-lighter: rgba(255, 217, 0, 0.098);
  --secondary: rgb(5, 5, 5);
  --secondary-2: rgb(10, 10, 10);
  --text: 238, 238, 238;
  --like: 255, 0, 0;
  --comment: 62, 195, 0;
  --boost: 19, 209, 255;
  --test: calc(var(--like) + var(--comment));
  --test-2: rgb;
  --before-border-color: rgba(var(--text), 0.3);
  --after-border-color: rgba(var(--text), 0.3);
}
* {
  font-family: roboto;
}
body {
  background-color: var(--secondary);
}
button:hover {
  cursor: pointer;
}

.parent::before {
  border-color: var(--before-border-color);
}
.parent::after {
  border-color: var(--after-border-color);
}
